@import "./var.css";

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Scaffolding */

html,
body {
  font-family: var(--font-family);
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
}

a {
  box-shadow: 0 0 0 0 currentColor;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-family);
}

main {
  max-width: 960px;
  margin-top: var(--nav-height);
  margin-left: auto;
  margin-right: auto;
  background: #fafafa;
  padding: 1rem 0;
}

main.markdown {
  padding: 1rem 1.25rem;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: pink;
}

.flex {
  display: flex;
  align-items: center;
}

/* Navbar */

.navbar {
  width: 100%;
  height: var(--nav-height);
  padding: 0 2rem 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  z-index: 2;
  transition: all 0.25s ease-in-out;
}

.navbar .brand {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--font-color);
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar .avatar {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-top: -2px;
}

.navbar .list {
  margin-left: auto;
}

.navbar .list a {
  margin: 0 1rem;
  color: var(--light-font-color);
  font-weight: 300;
  letter-spacing: 3px;
}

.navbar .list a:hover {
  color: var(--font-color);
  text-decoration: underline;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
}

.navbar-home .brand {
  display: none;
  color: white;
}

.navbar-home .list a,
.navbar-home .list a:hover {
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar .avatar {
    margin-top: 0;
  }

  .navbar .brand span {
    display: none;
  }

  .navbar .list a {
    margin: 0 0.5rem;
    letter-spacing: 1px;
  }
}

/* Footer */

.footer {
  border-top: 1px solid #f2f4f6;
  padding: 2rem;
  text-align: center;
  color: var(--font-color);
  font-size: 0.875rem;
}

.footer a {
  color: #4078c0;
}

.footer a:hover {
  text-decoration: underline;
}

/* 首页第一屏 */

.impression {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.impression img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持图片不变形 */
  object-position: center center;
  filter: brightness(70%);
}

.impression div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
  animation: impressionWord 0.8s ease-in-out;
}

@keyframes impressionWord {
  0% {
    top: 42%;
  }
  100% {
    top: 50%;
  }
}

.impression div h1 {
  margin: 0;
  padding: 0 0 0.625rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}

.impression div h2 {
  font-family: var(--font-family);
  margin: 0;
  padding: 0 1rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  opacity: 0.7;
}

/* Bio */

.bio {
  text-align: center;
  background: #f7f7f7;
  border-bottom: 1px solid #e4e4e4;
  padding: 5rem 1.25rem;
}

.bio h2 {
  padding: 0 0 0.625rem;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bio h3 {
  padding: 0 0 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 2.5rem;
}

.bio p {
  max-width: 800px;
  margin: 2.5rem auto 0;
}

/* Posts */

.posts {
  padding: 0 1rem;
}

.post {
  background: white;
  margin-bottom: 1rem;
  padding: 1.25rem;
}

.post:hover {
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    3px 0 13px rgba(100, 110, 140, 0.1);
}

.post h3 {
  font-family: var(--font-family);
  font-size: 1.375rem;
  color: var(--dark-font-color);
}

.post time {
  font-size: 0.8rem;
  color: var(--light-font-color);
}

.post section {
  margin-top: 0.5rem;
}

.post p {
  color: var(--font-color);
  margin-bottom: 0;
}
